*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6;
  color: #6D5D4B;
  font-size: 1.6rem;
}

.container {
  display: grid;
  grid-template-rows: 80vh min-content 40vw repeat(3, min-content);
  grid-template-columns: [side-start] 8rem [side-end full-start] minmax(4rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] minmax(4rem, 1fr) [full-end];
}

.heading-4, .heading-3, .heading-2, .heading-1 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.heading-2 {
  font-size: 4rem;
  font-style: italic;
  line-height: 1;
}
.heading-2--dark {
  color: #54483A;
}
.heading-2--light {
  color: #f9f7f6;
}

.heading-3 {
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #c69963;
}

.heading-4 {
  font-size: 1.9rem;
}
.heading-4--dark {
  color: #54483A;
}
.heading-4--light {
  color: #f9f7f6;
}

.btn {
  display: inline-block;
  background-color: #c69963;
  font-size: 1.5rem;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  text-transform: uppercase;
  color: #f9f7f6;
  padding: 1.7rem 3rem;
  border: none;
  border-radius: 0;
  cursor: pointer;
  transition: all 0.2s;
}
.btn:hover {
  background-color: #B28451;
}

.mb-sm {
  margin-bottom: 1.5rem;
}

.sidebar {
  background-color: #54483A;
  grid-row: 1/-1;
  grid-column: side-start/side-end;
}

.header {
  background-color: #c69963;
  grid-column: full-start/col-end 6;
}

.realtors {
  background-color: #101d2c;
  grid-column: col-start 7/full-end;
}

.features {
  grid-column: center-start/center-end;
  padding: 15rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  grid-gap: 4rem;
  align-items: start;
}

.feature {
  display: grid;
  grid-template-columns: min-content 1fr;
  column-gap: 2rem;
  row-gap: 1rem;
}
.feature__icon {
  width: 4.5rem;
  height: 4.5rem;
  fill: #c69963;
  /* We can only use the -1 to span to the end when we explicitly
  set the row/column */
  grid-row: 1/span 2;
  transform: translateY(-1rem);
}
.feature__text {
  font-size: 1.7rem;
}

.story__pictures {
  background-color: #B28451;
  grid-column: full-start/col-end 4;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(6, 1fr);
  align-items: center;
  background-image: linear-gradient(rgba(198, 153, 99, 0.5), rgba(178, 132, 81, 0.5)), url(../img/back.jpg);
}
.story__img--1 {
  width: 100%;
  grid-column: 2/6;
  grid-row: 2/6;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.1);
}
.story__img--2 {
  width: 115%;
  grid-column: 4/7;
  grid-row: 4/6;
  z-index: 1065262;
  box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.3);
}
.story__content {
  background-color: #f9f7f6;
  grid-column: col-start 5/full-end;
  padding: 6rem 7vw;
  /*
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  */
  display: grid;
  align-content: center;
  justify-items: start;
}
.story__text {
  font-size: 1.6rem;
  font-style: italic;
  margin: 2.5rem 0;
}

.homes {
  grid-column: center-start/center-end;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-gap: 7rem;
  margin: 15rem 0;
}

.home {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 3.5rem;
  background-color: #f9f7f6;
  box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.2);
}
.home__img {
  width: 100%;
  grid-column: 1/-1;
  grid-row: 1/2;
}
.home__like {
  fill: #c69963;
  width: 2.5rem;
  height: 2.5rem;
  /* 
      To make that possible we'll to provide both the columns and
      rows of the items that are overlaping.
  */
  grid-row: 1/2;
  grid-column: 2/3;
  justify-self: end;
  margin: 1rem;
}
.home__name {
  grid-column: 1/-1;
  grid-row: 1/2;
  justify-self: center;
  align-self: end;
  transform: translateY(50%);
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 400;
  width: 80%;
  text-align: center;
  background-color: #101d2c;
  color: #f9f7f6;
  padding: 1.25rem;
  /* 
      We could also have use negative margin on the name without using
      grid overlaping and transform-translate in the Y direction.
  */
}
.home__location, .home__rooms {
  margin-top: 2.5rem;
}
.home__location, .home__rooms, .home__area, .home__price {
  justify-self: center;
  display: flex;
  align-items: center;
}
.home__location svg, .home__rooms svg, .home__area svg, .home__price svg {
  fill: #c69963;
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}
.home__location p, .home__rooms p, .home__area p, .home__price p {
  font-size: 1.4rem;
  font-weight: 400;
}
.home__btn {
  grid-column: 1/-1;
}

.gallery {
  background-color: #f9f7f6;
  grid-column: full-start/full-end;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(7, 5vw);
  grid-gap: 1.5rem;
  padding: 1.5rem;
}
.gallery__item--1 {
  grid-column: 1/span 2;
  grid-row: 1/span 2;
}
.gallery__item--2 {
  grid-column: 3/span 3;
  grid-row: 1/span 3;
}
.gallery__item--3 {
  grid-column: 6/7;
  grid-row: 1/span 2;
}
.gallery__item--4 {
  grid-column: 7/-1;
  grid-row: 1/span 2;
}
.gallery__item--5 {
  grid-column: 1/span 2;
  grid-row: 3/span 3;
}
.gallery__item--6 {
  grid-column: 3/span 2;
  grid-row: 4/span 2;
}
.gallery__item--7 {
  grid-column: 5/6;
  grid-row: 4/5;
}
.gallery__item--8 {
  grid-column: 6/span 2;
  grid-row: 3/span 2;
}
.gallery__item--9 {
  grid-column: 8/9;
  grid-row: 3/span 3;
}
.gallery__item--10 {
  grid-column: 1/2;
  grid-row: 6/span 2;
}
.gallery__item--11 {
  grid-column: 2/span 2;
  grid-row: 6/span 2;
}
.gallery__item--12 {
  grid-column: 4/5;
  grid-row: 6/span 2;
}
.gallery__item--13 {
  grid-column: 5/span 3;
  grid-row: 5/span 3;
}
.gallery__item--14 {
  grid-column: 8/9;
  grid-row: 6/span 2;
}
.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.footer {
  background-color: #101d2c;
  grid-column: full-start/full-end;
  padding: 6rem;
}

.nav {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(18rem, 1fr));
  gap: 1.5rem;
  align-items: center;
}
.nav__item {
  list-style: none;
}
.nav__link:link, .nav__link:visited {
  text-decoration: none;
  font-size: 1.4rem;
  color: #fff;
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  padding: 1.5rem;
  display: block;
  transition: all 0.2s;
}
.nav__link:link:hover, .nav__link:link:active, .nav__link:visited:hover, .nav__link:visited:active {
  background-color: rgba(255, 255, 255, 0.05);
  transform: translateY(-3px);
}

.copyright {
  font-size: 1.4rem;
  color: #aaa;
  margin-top: 5rem;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */
