.homes {
    
    grid-column: center-start / center-end;

    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    grid-gap: 7rem;
    margin: 15rem 0;
}


.home {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 3.5rem;

    background-color: $color-grey-light-1;
    box-shadow: 0 3rem 6rem rgba(#000, .2);

    &__img {
        width: 100%;
        grid-column: 1 / -1;
        grid-row: 1 / 2;
    }

    &__like {
        fill: $color-primary;
        width: 2.5rem;
        height: 2.5rem;

        // place icon on the same grid area as image by overlaping
        /* 
            To make that possible we'll to provide both the columns and
            rows of the items that are overlaping.
        */
        grid-row: 1 / 2;
        grid-column: 2 / 3;
        justify-self: end;
        margin: 1rem;

    }

    &__name {
        grid-column: 1 / -1;
        grid-row: 1 / 2;
        justify-self: center;
        align-self: end;
        transform: translateY(50%);

        font-family: $font-display;
        font-size: 1.6rem;
        font-weight: 400;
        width: 80%;
        text-align: center;
        background-color: $color-secondary;
        color: $color-grey-light-1;
        padding: 1.25rem;


        /* 
            We could also have use negative margin on the name without using
            grid overlaping and transform-translate in the Y direction.
        */

    }


    &__location,
    &__rooms {
        margin-top: 2.5rem;
    }

    &__location,
    &__rooms,
    &__area,
    &__price
    {
        justify-self: center;

        display: flex;
        align-items: center;

        svg {
            fill: $color-primary;
            width: 2rem;
            height: 2rem;

            margin-right: 1rem;
        }

        p {
            font-size: 1.4rem;
            font-weight: 400;
        }
    }


    &__btn {
        grid-column: 1 / -1;
    }
}


