.container {
    background-color: #e1e1e1;
    width: 90%;
    margin: 30px auto;

    display: grid;

    grid-template-rows: [header-start] 70px [header-end small-start] 250px [small-end main-start] 400px [main-end footer-start] 70px [footer-end];
    /* When we use naming in repeat, it basically create a nameset of cols. To use the first name we
    use col-start 1 or col-end 1, using numbers incremented we use the next column lines that follow  */
    grid-template-columns: repeat(3, [col-start] 1fr [col-end]) 200px [grid-col-end];

    /* grid-gap: 20px; */
    gap: 20px;

}

.item {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    color: #fff;
    font-family: sans-serif;
    background-color: orangered;
    text-align: center;
    padding: 2rem;

}


.header {
    grid-column: col-start 1 / grid-col-end;
}

/* .small--1 {
   grid-row: 2 / 3;
   grid-column: 1 / 2;  
}

.small--2 {
   grid-row: 2 / 3;
   grid-column: 2 / 3;
}

.small--3 {
    grid-row: 2 / 3;
    grid-column: 3 / 4;
} */



.side-bar {
    grid-row: small-start / main-end;
    grid-column: col-end 3 / grid-col-end;
}

.main {
    grid-row: main-start / main-end;
    grid-column: col-start 1 / col-end 3;
}

.footer {
    grid-row: footer-start / footer-end;
    grid-column: col-start / grid-col-end;
}
